{% include 'base/root.html' %} {% block content %}
<main>
  <form onsubmit="create_account(event,this)">
    {% csrf_token %}
    <input
      type="text"
      name="username"
      placeholder="username"
      minlength="5"
      required
    />
    <input type="email" name="email" placeholder="email" required />
    <input
      type="password"
      name="password1"
      placeholder="password"
      minlength="8"
      required
    />
    <input
      type="password"
      name="password2"
      placeholder="repeat your password"
      minlength="8"
      required
    />
    <button type="submit">Create an account</button>
  </form>
</main>
{% endblock %}
