{% extends 'base/root.html' %} {% load paginator_tags %} {% block content %}
<main class="max-w-[1400px] mx-auto py-8 relative">
  <div
    class="flex justify-between mt-8 mb-4 items-center text-primary-500 font-medium"
  >
    <h1 class="text-xl">Categories</h1>
    {% if page_obj %}
    <div class="relative">
      <input
        type="text"
        placeholder="Search.."
        class="border-1 text-gray-900 border-gray-300 px-4 py-2 rounded-md mb-2 block"
        oninput="categories_suggestions(event,this)"
      />
      <div
        class="suggestions hidden justify-items-center absolute top-12 w-full bg-white z-10 border-2 border-gray-300 rounded-md"
      ></div>
    </div>
    {% if user.role == 'store_manager' %}
    <a
      class="inline-block rounded-md bg-primary-600 text-white px-4 py-2"
      href="{% url 'create-category' %}"
      >Create one</a
    >
    {% else %}
    <span></span>
    {% endif %} {% endif %}
  </div>
  {% if page_obj %}
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Category</th>
        <th scope="col" class="px-6 py-3">Type</th>
        <th scope="col" class="px-6 py-3">Amount of routers</th>
        <th scope="col" class="px-6 py-3">Created at</th>
        {% if user.role == 'store_manager' %}
        <th scope="col" class="px-6 py-3">Actions</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for category in page_obj %}
      <tr
        data-id="{{category.id}}"
        data-name="{{category.name}}"
        data-type="{{category.type}}"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ category.name }}
        </th>
        <td class="px-6 py-4">{{ category.type }}</td>
        <td class="px-6 py-4">{{ category.count_routers }}</td>
        <td class="px-6 py-4">{{ category.created_at|date:'Y-m-d H:i' }}</td>
        {% if user.role == 'store_manager' %}
        <td class="px-6 py-4 flex gap-4">
          <i
            title="edit"
            class="fa-regular fa-pen-to-square text-lg text-primary-400 cursor-pointer"
            onclick="open_edit_category(this)"
          ></i>
          <i
            title="delete"
            class="fa-solid fa-trash text-lg text-red-400 cursor-pointer"
            onclick="delete_category({{category.id}})"
          ></i>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}
  <p>You have no categories</p>
  {% endif %}

  <div class="flex gap-2 justify-center my-4">
    {% get_proper_elided_page_range paginator page_obj.number as page_range %}
    <!-- here -->
    {% for i in page_range %} {% if page_obj.number == i %}
    <a
      class="px-3 py-1 rounded-md border-2 text-primary-500 border-primary-500"
    >
      {{ i }}
    </a>
    {% else %} {% if i == paginator.ELLIPSIS %}
    <a class="px-3 py-1 rounded-md border-2"> {{ paginator.ELLIPSIS }} </a>
    {% else %}

    <a class="px-3 py-1 rounded-md border-2" href="?page={{ i }}">{{ i }}</a>

    {% endif %} {% endif %} {% endfor %}
  </div>
  {% include 'main/category/edit-form.html' %}
</main>

{% endblock %}
